@import '~@angular/material/theming';

 

@mixin rp-button-color($config-or-theme) {
    $config: mat-get-color-config($config-or-theme);
    $primary: map-get($config, primary);
    $accent: map-get($config, accent);
    $warn: map-get($config, warn);
    $background: map-get($config, background);
    $foreground: map-get($config, foreground);
  
    .mat-stroked-button {
      // Buttons without a background color should inherit the font color. This is necessary to
      // ensure that the button is readable on custom background colors. It's wrong to always assume
      // that those buttons are always placed inside of containers with the default background
      // color of the theme (e.g. themed toolbars).
      color: mat-color($primary);
      background: transparent;
      

      @include _mat-button-theme-property($config, 'color', text);
      @include _mat-button-focus-overlay-color($config);
  
      // Setup the ripple color to be based on the text color. This ensures that the ripples
      // are matching with the current theme palette and are in contrast to the background color
      // (e.g in themed toolbars).
      .mat-ripple-element {
        opacity: $_mat-button-ripple-opacity;
        background-color: currentColor;
      }
    }
  
    .mat-button-focus-overlay {
      background: map_get($foreground, base);
    }
  
    // Note: this needs a bit extra specificity, because we're not guaranteed the inclusion
    // order of the theme styles and the button reset may end up resetting this as well.
    .mat-stroked-button:not(.mat-button-disabled) {
      border-color: mat-color($primary ); //mat-color($foreground, divider);
    }
  
    .mat-stroked-button {
      // Default font and background color when not using any color palette.
      color: mat-color($primary);
      background-color: mat-color($background, raised-button);
  
      @include _mat-button-theme-property($config, 'color', default-contrast);
      @include _mat-button-theme-property($config, 'background-color', default);
      @include _mat-button-theme-property($config, 'border-color', default);
    }
  
    .mat-stroked-button {
      @include _mat-theme-overridable-elevation(0, $config);
    }
 
  }
 