:host {
    display: block;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    border-bottom: 1px solid #cccccc;
    cursor: pointer;

    .customer-icon {
        vertical-align: middle;
        margin-right: 16px;
    }
}