/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/_theming.scss';
@import './typography.scss';
@include mat-core($balfour-typography);

// $primary: mat-palette($mat-blue, 800);
// $accent: mat-palette($mat-teal);
// $theme: mat-light-theme($primary, $accent);

@import './theme.scss';

// Important: must be imported when '$theme' variable created
@import './app/common/mixins.scss';
@import './app/features/mixins.scss';

@include angular-material-theme($theme);
@include custom-components-theme($theme);

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.w-stretch {
    width: 100%
}

.hidden {
    visibility: hidden;
    width: 0;
    margin: 0 !important;
}

.rp-empty-layout {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}