.rp-vendor-order-status-chip {
    .status {
        padding: 4px;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        color: black;
        border-radius: 2px;
    }

    &.rp-vendor-order-status-chip-in_progress .status {
        background-color: $balfour-status-inprogress;
    }

    &.rp-vendor-order-status-chip-submitted .status {
        background-color: $balfour-status-submited;
    }

    &.rp-vendor-order-status-chip-processed .status {
        background-color: $balfour-status-processed;
    }

    &.rp-vendor-order-status-chip-incomplete .status {
        background-color: $balfour-status-incomplete;
    }

    &.rp-vendor-order-status-chip-assigned .status {
        background-color: $balfour-status-assigned;
    }

    &.rp-vendor-order-status-chip-completed .status {
        background-color: $balfour-status-completed;
    }
}